* {
    box-sizing: border-box;
  }
.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 8vh 2vh repeat(20, 12vw);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color:#fcdcdc;
    font-family: 'IBM Plex Mono', monospace;}

    img {
        max-height: 100%;
        max-width: 100%;} 
   
    
       
    #application-1 { 
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;}


    #application-2 { 
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;}

    #application-3 { 
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: space-evenly;
        align-items: center;}

    .application-links {
        font-family: 'Cormorant Garmond', serif;
        color: #000000;
        font-size: 20px;
    }

    .application-links img {
        height: 40%
    }


   #email-link { 
    grid-area: 1 / 7 / 2 / 9; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
    font-size:25px;
    line-height: 100%;
    text-decoration-style: none;}




    .div7 {
        padding-left: 30%;
    }




  

    #fun-facts-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        background-color: #f13f3d;
        width: 120px;
        height: 120px;
        position: static;
        position: fixed;
        bottom: 70%;
        right: 2%;
        font-size: 20px;
        font-family: 'Cormorant Garmond', serif;
        text-decoration: none;
        color: #fcdcdc;
    }

    #why-FAC-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        background-color: #f13f3d;
        width: 120px;
        height: 120px;
        position: static;
        position: fixed;
        bottom: 10%;
        right: 2%;
        font-size: 20px;
        font-family: 'Cormorant Garmond', serif;
        text-decoration: none;
        color: #fcdcdc;
        
    }


     
    
    #japan-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        background-color: #f13f3d;
        width: 120px;
        height: 120px;
        position: static;
        position: fixed;
        bottom: 40%;
        right: 2%;
        font-size: 20px;
        
        text-decoration: none;
        color: #fcdcdc;
        font-family: 'Cormorant Garmond', serif;
    }





   #central-img {
       border-radius: 50%;}

    .div3 { grid-area: 4 / 3 / 7 / 7; }
    .div4 { grid-area: 4 / 2 / 7 / 4; }
            
    .div5 { grid-area: 3 / 3 / 5 / 7; 
            justify-self: center; }
    
    .div7 { grid-area: 4 / 1 / 7 / 2; 
            display: flex;
            align-content: flex-end;}

    .div8 { grid-area: 8 / 2 / 12 / 8; 
        padding-left: 60px;
        padding-right: 60px;
        font-size: 1.5vw;
        text-align: center;
        color: #f13f3d;
    }
    
        hr {
    border-top: 1px dotted red;
    }




    /* Carousel styling */

    .div6 { grid-area: 13 / 3 / 17 / 7; }

    .carousel-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    } 

    .carousel-slide {
        display: flex;
        max-width: 100%;
        max-height: 100%;        
    }

    .div6 h3 {
        color: #f13f3d;
        font-size: 4vh;
        text-align: center;
        
    }

    .div6 p {
        color: #f13f3d;
    }
     
    button {background-color: transparent;
        border: transparent;
    }

    #back-button {
        position: absolute;
        bottom: 20%;
        left: 32%;
         outline: none;
    
    }

    #next-button {
        position: absolute;
        bottom: 20%;
        right: 32%;
        outline: none;
    }

    #play-button {
        position: absolute;
        bottom: 20%;
        left: 42%;
        outline: none;
    }

    #pause-button {
        position: absolute;
        bottom: 20%;
        right: 42%;
        outline: none;
    }



    /* Why FAC styling */


    .div9 { grid-area: 18/ 1/ 22/ 9;
        
        padding-left: 12%;
        padding-right: 12%;
    }

    .div9 .div9text {
        column-count: 4;
        column-gap: 3vw;
        font-size: 1.6vh;
        column-rule-style: dotted;
        text-align: center;
    }

    .div9 h3 {
        color: #f13f3d;
        font-size: 2.5vh;
        text-align: center;
        
    }

    .div9 h4 {
        color: #f13f3d;
        font-size: 2vh;
        text-align: center;
        
    }






















    /* RESPONSIVENESS: NEW LAYOUT FOR MOBILES */

    @media (min-width: 320px) and (max-width: 550px) {


        .parent {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 8vh repeat(12, 25vw);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            background-color:#fcdcdc;
            font-family: 'IBM Plex Mono', monospace;}

            img {
                max-height: 100%;
                max-width: 100%;} 


            #application-1 { 
                grid-area: 1 / 1 / 2 / 2;
                display: flex;
                justify-content: space-evenly;
                align-items: center;}


            #application-2 { 
                grid-area: 1 / 2 / 2 / 3;
                display: flex;
                justify-content: space-evenly;
                align-items: center;}

            #application-3 { 
                grid-area: 1 / 3 / 2 / 4;
                display: flex;
                justify-content: space-evenly;
                align-items: center;}

            .application-links {
                font-family: 'Cormorant Garmond', serif;
                color: #000000;
                font-size: 2vw;
            }


           #email-link { 
            grid-area: 1 / 4 / 2 / 5; 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: 'Cormorant Garamond', serif;
            color: #000000;
            font-size:2vw;
            line-height: 100%;
            text-decoration-style: none;}

            .application-links img {
                height: 20%
            }


           #central-img {
               border-radius: 50%;}

            .div3 { grid-area: 3 / 2 / 5 / 4;}

            .div4 { grid-area: 3 / 1 / 4 / 3;
                    display: flex;
                    justify-content: center; }

            .div5 { grid-area: 2 / 2 / 3 / 4; 
                display: flex;
                align-items: flex-end; 

                     }

            .div7 {   grid-area: 3 / 4 / 4 / 5;
                font-size: 2vw;    
                }


                .fun-facts-button, .why-FAC-button, .japan-button {
                    display: none;
                }

            .div8 { grid-area: 5 / 1 / 9 / 5; 
                padding-left: 20px;
                padding-right: 20px;
                font-size: 2.3vw;
                text-align: center;
                color: #f13f3d;
            }

                hr {
            border-top: 1px dotted red;
            }



            /* Carousel styling */

            .div6 { grid-area: 9 / 1 / 15 / 5;
                width: 100%;
                height:100; }

            .carousel-container {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            } 

            .carousel-slide {
                display: flex;
                max-width: 100%;
                max-height: 100%;        
            }

            .div6 h3 {
                color: #f13f3d;
                font-size: 2vh;
                text-align: center;

            }

            .div6 p {
                color: #f13f3d;
                font-size: 2vh;
                text-align: center;

            }

            button {background-color: transparent;
                border: transparent;
            }

            #back-button {
                position: absolute;
                bottom: 30%;
                left: 10%;
                 outline: none;

            }

            #next-button {
                position: absolute;
                bottom: 30%;
                right: 10%;
                outline: none;
            }

            #play-button {
                position: absolute;
                bottom: 30%;
                left: 30%;
                outline: none;
            }

            #pause-button {
                position: absolute;
                bottom: 30%;
                right: 30%;
                outline: none;
            }



            /* Why FAC styling */


            .div9 { grid-area: 17/ 1/ 22/ 9;
                padding-left: 10%;
                padding-right: 10%;
            }

            .div9 .div9text {
                column-count: 1;
                font-size: 1.75vh;
                text-align: center;
                
            }

            .div9 h3 {
                color: #f13f3d;
                font-size: 2vh;
                text-align: center;

            }

            .div9 h4 {
                color: #f13f3d;
                font-size: 1.75vh;
                text-align: center;

            }


    }